<!DOCTYPE html>
<html>
    <head>CSS flex</head>
    <style>
        .parent{
            display:flex;
            height:100vh;
            color:white;
            flex-direction:column-reverse;

        }
        .one{
            background-color: green;
            flex:1;
        }
        .two{
            background-color: blue;
            flex:1;
        }
    </style>
    <body>
        <div class="parent">
            <div class="one">1</div>
            <div class="two">2</div>
        </div>
    </body>
</html>