fieldset{
    width: 60%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 35px;
    color: whitesmoke;
    background: linear-gradient(180deg,red,black)
}
legend{
    background: linear-gradient(180deg,red,black);
    padding: 10px;
    border-radius: 30px;


}
input[type="text"]{
    outline: none;
}