p{
    border:1px solid greenyellow;
    width:20%;
    display: inline-block;
    padding: 30px;
    border-radius: 30px;
    margin: 30px;
    text-align: justify;
    font-family: Comic Sans MS;
    color: green;
    box-shadow: 0px 0px 30px ,black;

}
.c1{
    background: linear-gradient(90deg,pink);

}
#id{
    background: linear-gradient(45deg,red);

}
.c2{
    background: linear-gradient(135deg,yellow);

}